body {
    background-color: black;
    color: white !important;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.main-container {
  width: 100%;
}
li a {
  color: white;
}
table {
  color:white;
}